*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #eeeeee;
  color: #424242;
}

#root {
  height: 500;
  width: 750;
}

.donutchart-arcs-path,
.donutchart-legend-item,
.donutchart-legend-item-label {
  cursor: pointer;
}

.donutchart-innertext-label {
  font-size: 18px;
}

.donutchart-innertext-value {
  font-size: 36px;
  font-weight: bold;
}

.donutchart-arcs-path,
.donutchart-legend-item {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: DrawLine, FillIn;
  animation-delay: 0.5s, 2s;
  animation-duration: 3s, 1s;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}

@keyframes DrawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes FillIn {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

.selected.donutchart-legend-item-label,
.toggled.donutchart-legend-item-label {
  fill: #f44336;
  text-decoration: underline;
}

.label-value {
  padding: 0.2em 0.3em;
  border-radius: 15%;
  color: white;
}